name: "smoke_dataset"

data:
  data_root: /home/aoubaidi/Documents/Modelisation-panaches-de-fum-es-industrielles-par-Flow-Matching/final_dataset
  input_size: 128
  crop_size: 128
  frames_per_sample: 10  # Réduit
  random_horizontal_flip: True

model:
  sigma: 0.001  # Small noise for flow matching stability
  vector_field_regressor:
    state_size: 256      # Must match VQVAE embedding_dimension (256)
    state_res: [16, 16]    # 128x128 images -> 16x16 latent spatial resolution
    inner_dim: 512       # Internal dimension for transformer
    depth: 6             # Temporal modeling depth (smoke evolution)
    mid_depth: 2         # Mid-block depth
    out_norm: "ln"       # Layer normalization
  autoencoder:
    type: "ours"
    ckpt_path: /home/aoubaidi/Documents/Modelisation-panaches-de-fum-es-industrielles-par-Flow-Matching/runs/vqvae_vqvae_masked_finetune/vqvae_epoch_25.ckpt
    encoder:
      in_channels: 3
      out_channels: 256
      mid_channels: 128
    decoder:
      in_channels: 256
      out_channels: 3
      mid_channels: 128
    vector_quantizer:
      embedding_dimension: 256
      num_embeddings: 1024
      commitment_cost: 0.1

training:
  batching:
    batch_size: 32        # Réduit à 1 !
    num_workers: 2
  optimizer:
    learning_rate: 0.0001
    weight_decay: 0.000005
    num_warmup_steps: 1000
    # Set to target ~10 epochs: dataset_size (128680) * 10
    num_training_steps: 100000
  num_observations: 10   # Réduit
  condition_frames: 1
  frames_to_generate: 9  # Réduit
  loss_weights:
    flow_matching_loss: 1.0

evaluation:
  batching:
    batch_size: 1        # Réduit à 1
    num_workers: 2
    observations_count: 10
    skip_frames: 0
    observation_stacking: 1
  num_observations: 10
  condition_frames: 1
  frames_to_generate: 9
  steps: 50              # Réduit